{{#partial "content" }}
	<div class="lc-block">
		<h1>
			Hello <b></b>
		</h1>
		<form action="/logout" method="post">
			<input type="submit" class="button red big" value="Sign Out" /> 
			<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
		</form>
	</div>
{{/partial}}

{{> base}}