{{#partial "content" }}
<div class="lc-block">
		<h1>Welcome!</h1>
		<div class="alert-normal">
			Click <a href="/hello">here</a> to see a greeting.
			{{#authorize "hasRole('ROLE_USER')"}}
			This is login user!!
			{{/authorize}}
			{{#authorize "isAnonymous()"}}
			now anonymous
			{{/authorize}}
		</div>
	</div>
{{/partial}}

{{#partial "template"}}
	<script id="invoice-template" type="text/javascript" >
	{{precompile "precompiles/client"}}
	
	var template = Handlebars.templates['precompiles/client'];
	var result = template(JSON.parse('{"name": "javajigi"}'));
	console.log("result : ", result);
	</script>
{{/partial}}

{{> base}}

