{{#partial "content" }}
<div class="lc-block">
		<h1>Welcome!</h1>
		<div class="alert-normal">
			Click <a href="/hello">here</a> to see a greeting.
			{{#authorize "hasRole('ROLE_USER')"}}
			This is login user!!
			{{/authorize}}
			{{#authorize "isAnonymous()"}}
			now anonymous
			{{/authorize}}
		</div>
	</div>
{{/partial}}

{{> base}}

